.container--two-columns {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;

  .left-column {
    padding: 6%;
    width: 45vw;
  }

  .right-column {
    display: flex;
    justify-content: center;
    width: 45vw;
  }
}