.container--two-columns {
  display: flex;
  flex-direction: row;
  //padding: 3rem;
  justify-content: space-between;
  align-items: center;

  @include respond(tablet) {
    flex-direction: column;
  }

  .left-column {
    //padding: 6%;
    width: 100%;
    flex-grow: 1;

  }

  .right-column {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
  }

  img {
    max-width: 100%;
  }
}