@import "../../style/base/variables";

.button--big {
  position: relative;
  width: 27rem;
  height: 27rem;
  color: $dark-blue;
  text-transform: uppercase;
  background-color: $white;
  border-radius: 50%;
  z-index: 10;
  font-size: 3.2rem;
  font-family: 'Bellefair', sans-serif;


  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27rem;
    height: 27rem;
    background-color: $white;
    border-radius: 50%;
    content: "";
    opacity: .7;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .3s ease-in;

  }

  &:hover:before {
    position: absolute;
    width: 32rem;
    height: 32rem;
    //transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 50%;
    content: "";
    opacity: .2;


  }


}