@import "/src/style/base/variables";
.button--small {
  border-radius: 50%;
  border: 1px solid $white;
  width: 80px;
  height: 80px;
  color: $white;


  &--active {
    color: $dark-blue;
    background-color: $white;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

}
