@import "./style/base/mixins";
@import "style/base/variables";

.page {
  min-height: 100vh;
  //padding: 1%;
  padding: 10rem 3%;
  background-size: cover;

  @include respond(tablet) {
    text-align: center;
  }

}


@include respond(tablet) {
  html {
    font-size: 60%;
  }
}
@include respond(phone) {
  html {
    font-size: 50%;
  }
}