@import "src/style/base/mixins";

$navbar-height: 9rem;

.navbar {
  display: flex;
  width: 60vw;

  margin-left: auto;
  background: rgba($white, 0.04);
  justify-content: space-around;

  backdrop-filter: blur(40.7742px);
  //to do: add additional styling for browsers which don't support blur effect


  &__link {
    height: $navbar-height;
    font: {
      size: 1.9rem;
      family: 'Barlow Condensed', sans-serif;
    }
    line-height: $navbar-height;
    color: $white;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    transition: .1s;
    //&:last-child {
    //  margin-right: 10rem;
    //}
    &:hover {
      cursor: pointer;
      border-bottom: 3px $light-grey solid;
    }

    &--active {
      border-bottom: 3px $white solid;

      &:hover {
        border-bottom: 3px $white solid;;
      }
    }

    span {
      margin-right: 1rem;
      font-weight: bold;
    }
  }

  &__hamburger {
    display: none;
    font-size: 3rem;
    cursor: pointer;

  }

  &--hidden {
    display: none;
  }

  @include respond(phone) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    display: none;
    height: 100vh;
    padding: 7rem 2rem 2rem;
    flex-direction: column;
    justify-content: normal;

    &__link {
      border-right: 3px transparent solid;
      border-bottom: none;
      line-height: 5rem;
      height: fit-content;

      &:hover {
        cursor: pointer;
        border-right: 3px $light-grey solid;
        border-bottom: none;
      }

      &--active {
        border-right: 3px $white solid;

        &:hover {
          border-right: 3px $white solid;
        }
      }

    }
    //to do: zrobić to ładniej, bo mi się nie podoba

    &__hamburger {
      position: fixed;
      right: 2rem;
      z-index: 15;
      display: block;
      color: $white;
    }

  }

  &--expanded {
    display: flex;
  }
}

