$navbar-height: 9rem;
.navbar{
  //position: absolute;
  display: flex;
  //right: 0;
  width: 60vw;


  margin-left: auto;
  background: rgba($white, 0.04);
  justify-content: space-around;
  //align-items: center;

  backdrop-filter: blur(40.7742px);
  //to do: add additional styling for browsers which don't support blur effect


  &__link {
    height: inherit;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.9rem;
    line-height: $navbar-height;
    height: $navbar-height;
    color: $white;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    transition: .1s;
    //&:last-child {
    //  margin-right: 10rem;
    //}
    &:hover {
      cursor: pointer;
      border-bottom: 3px $light-grey solid;
    }
    &--active {
      border-bottom: 3px $white solid;
      &:hover {
        border-bottom:  3px $white solid;;
      }
    }
    span {
      margin-right: 1rem;
      font-weight: bold;
    }
  }

}